@import url('https://fonts.googleapis.com/css?family=Itim');
*{
	margin:0;
	padding:0;
}
body {
	background-color: #FFFEED;
	max-width: 100%;
}

h1 {
	border:10px #948AA9;
	/*border-style: dotted dashed solid double;*/
	width: 600px;
	margin: 20px auto;
	text-align: center;
	padding: 30px;
	font-family: 'Itim', cursive; 
}

.colorchange {

	color: #296ddb;
}

h3 { 
	color: blue; 
	font-style: italic;
}

}
#overwrite {
	color: cyan;
}
ul {	
	list-style-type: none;
	margin: 0;
	padding: 0; 
	background-color: #42b6f4;
	line-height: 50px;
	overflow: hidden; 
}
ul li {
	display: inline;
	float: none;
	background-color: solid blue;
}

/ul li a {
	text-align: center;
	padding: 40px;
	color:white;
	text-decoration: none;
}

ul li a.active {
    color: black;
    font-weight: bold;
}

ul li a:hover:not(.active) {
	color:blue;
	font-weight: bold;
}

