@import url('https://fonts.googleapis.com/css?family=Itim');
*{
	margin:0;
	padding:0;
}
body {
	background-color: #83d4f7;
	max-width: 100%;
	max-height: 100%
}

#main {
	border:10px;
	padding: 15px; 
}

#maintitle {
	text-align: center;
	font-family: 'Itim', cursive;
	font-size: 38px; 
}
.remiximage {
	 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    max-width: 100%;
    max-height: 100%;
}

.netartpg1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
}

.glitchimages {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 60%;
	font-size: 20px;
}

.processingPortrait {
	display: block;
	margin-right: auto; 
	margin-left: auto;
}

.conditionalVideo {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height:400px; 
	width: 700px;
}

.netart2button {
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

.netart4image {
	align-content: center;
	padding-right: 10px;	
}

.statementTitle {
	text-align: left;
	font-size: 28px;

}

.vimeoVideo {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 500px;
	width:800px;

}

.statementDescription {
	text-align: left;
	font-size: 25px;
}

.sketch {
	margin-right: auto;
	margin-left: auto;
}

#footer {
	text-align: center;
	padding: 15px;
	margin: 10px;
	font-size: 90%;
} 

nav {
	background-color: #ffb356;
    margin: 0;
	overflow: hidden;
}

nav ul {	
	margin: 0px; 
	text-align: center;
	font-size: 20px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
	
}

nav ul li a.active {
    color: black;
    border-bottom: none;
    font-weight: bold;
}

nav ul li :hover:not(.active) {
	color:black;
	font-weight: bold;
}
